#### Untuk import module pandas

In [1]:
import pandas as pd

#### Ini untuk membaca file CSV

In [2]:
data = pd.read_csv('online_retail.csv', delimiter=';')

print(data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

           InvoiceDate UnitPrice  CustomerID         Country
0       01/12/10 08.26      2,55     17850.0  United Kingdom
1       01/12/10 08.26      3,39     17850.0  United Kingdom
2       01/12/10 08.26      2,75     17850.0  United Kingdom
3       01/12/10 08.26      3,39     17850.0  United Kingdom
4       01/12/10 08.26      3,39     17850.0  United Kingdom
...                ...       ...         ...             ...
541904  09/12/11 12.50      0,85     12680.0          France
541905  09/12/11 12.50       2,1     12680.0          France
541906  09/12/11 12.50      4,15     12680.0          France
541907  09/12/11 12.50      4,15     12680.0          France
541908  09/12/11 12.50      4,95     12680.0          France

[541909 rows x 8 columns]

In [3]:
data['Quantity'] = data['Quantity'].astype(int)
data['UnitPrice'] = data['UnitPrice'].str.replace(',', '.').astype(float)

data['total_price'] = data['Quantity'] * data['UnitPrice']
data['InvoiceDate'] = data['InvoiceDate'].str.split().str[0]


print(data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

       InvoiceDate  UnitPrice  CustomerID         Country  total_price
0         01/12/10       2.55     17850.0  United Kingdom        15.30
1         01/12/10       3.39     17850.0  United Kingdom        20.34
2         01/12/10       2.75     17850.0  United Kingdom        22.00
3         01/12/10       3.39     17850.0  United Kingdom        20.34
4         01/12/10       3.39     17850.0  United Kingdom        20.34
...            ...        ...         ...             ...          ...
541904    09/12/11       0.85     12680.0          France        10.20
541905    09/12/11       2.10     12680.0          France        12.60
541906    09/12/11       4.15     12680.0          France        16.60
541907    09/12/11       4.15     12680.0          France        16.60
541908    09/12/11       4.95     12680.0          France        14.85

[541909 rows x 9 columns]

In [4]:
customer_spend = data.groupby(by='CustomerID').agg({'total_price': 'sum'})
daily_revenue = data.groupby(by='InvoiceDate').agg({'total_price': 'sum'})
country_sales = data.groupby(by='Country').agg({'InvoiceNo': 'count'})

print(customer_spend)
print(daily_revenue)
print(country_sales)

            total_price
CustomerID
12346.0            0.00
12347.0         4310.00
12348.0         1797.24
12349.0         1757.55
12350.0          334.40
...                 ...
18280.0          180.60
18281.0           80.82
18282.0          176.60
18283.0         2094.88
18287.0         1837.28

[4372 rows x 1 columns]
             total_price
InvoiceDate
01/02/11        28433.22
01/03/11        25471.71
01/04/11        24391.78
01/05/11         6964.66
01/06/11        20191.20
...                  ...
31/03/11        31004.08
31/05/11        21967.96
31/07/11        33486.36
31/08/11        16118.00
31/10/11        48475.45

[305 rows x 1 columns]
                      InvoiceNo
Country
Australia                  1259
Austria                     401
Bahrain                      19
Belgium                    2069
Brazil                       32
Canada                      151
Channel Islands             758
Cyprus                      622
Czech Republic               30
Denmark                     389
EIRE                       8196
European Community           61
Finland                     695
France                     8557
Germany                    9495
Greece                      146
Hong Kong                   288
Iceland                     182
Israel                      297
Italy                       803
Japan                       358
Lebanon                      45
Lithuania                    35
Malta                       127
Netherlands                2371
Norway                     1086
Poland                      341
Portugal                   1519
RSA                          58
Saudi Arabia                 10
Singapore                   229
Spain                      2533
Sweden                      462
Switzerland                2002
USA                         291
United Arab Emirates         68
United Kingdom           495478
Unspecified                 446

In [5]:
customer_spend.to_csv('output/customer_spend.csv')
daily_revenue.to_csv('output/daily_revenue.csv')
country_sales.to_csv('output/country_sales.csv')